@import url('./main.css');

/* component.css */

.login-card {
    background: #fff;
    width: 450px;
    padding: 24px;
    border-radius: 8px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.login-card h2{
    text-align: center;
    margin-bottom: 30px;
    font-size: 1.3rem;
    color: var(--text-color);
}

.login-card input {
    width: 100%;
    padding: 10px;
    margin-bottom: 25px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    font-size: 14px;
}

.login-card button {
    width: 100%;
    padding: 10px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.login-card button:hover {
    background-color: var(--hover-color);
}

#errorMsg {
    text-align: center;
    margin-top: 10px;
    font-size: 13px;
}


/* Side-Bar */

.sidebar {
    width: 220px;
    height: 100vh;
    background: #FBFAFF;
    color: #fff;
    position: fixed;
    left: -220px;
    transition: left 0.3s ease;
}

.sidebar.active {
    left: 0;
}

#menuBtn {
    background: none;
    border: none;
    width: 35px;
    font-size: 22px;
    cursor: pointer;
}
#menuBtn.menuBtn-active{
    background: #7D53F6;
    color: white;
    border-radius: 10px;
}

#menuBtn:hover {
    background: hsl(255, 90%, 75%);
    color: white;
    border-radius: 10px;
    box-shadow: 0 0 5px hsla(0, 0%, 0%, 0.2);
}

#navbar {
    background: hsl(0, 3%, 100%);
    width: 100%;
    padding: 5px;
    height: 70px;
    box-shadow: 0 0 8px hsla(0, 0%, 0%, 0.3);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sidebar-item {
    padding: 10px 15px;
    margin: 5px 2px;
    font-weight: 600;
    border-radius: 10px;
    color: #183241;
}

.sidebar-item:hover {
    background-color: hsla(255, 90%, 75%, 0.7);
}

a{
    text-decoration: none;
    all: unset;
    cursor: pointer;
}
.sidebar-item.sidebar-active, .sidebar:first-child {
    background-color: #7D53F6;
    color: #fff;
}

/* Dashboards Cards */

.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 16px;
    margin: 20px;
}

.card {
    background: white;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* courses  */
.course-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 16px;
    padding: 20px;
}
.course-card {
    background: white;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.status {
    display: inline-block;
    margin-top: 10px;
    padding: 4px 8px;
    border-radius: 12px;
    font-size: 12px;
    color: white;
}
.status.active{
    background: #dcfce7;
    color: #166534;
}
.status.completed{
    background: #e5e7eb;
    color: #374151;
}

/* assignments */
.assignment-card{
    background: white;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}
.assignment-card button{
    margin-top: 10px;
    padding: 6px 12px;
    cursor: pointer;
}
.status.pending { color: orange;}
.status.submitted { color: green;}
.status.late { color: red;}

.profile-card{
    background: rgb(205, 195, 195);
    padding: 20px;
    width: 300px;
    border-radius: 8px;
}
 .profile-card input{
    width: 100%;
    margin-bottom: 10px;
    padding: 15px;
 }
 .profile-card button
 {
    padding: 8px 12px;
    cursor: pointer;
    background-color: #532fbc;
    border-radius: 10px;
 }
 #profile
 {
    display: flex;
    min-width: 100vh;
    justify-content: center;
    align-items: center;
 }
 #themeToggle
 {
    padding: 15px;
    background-color: #d4e2d9;
    border-radius: 10px;
 }
 body.dark {
  background: #111827;
  color: #f9fafb;
}
body.dark .card{
     background: #1f2937;
  color: white;
}
body.dark .sidebar{
     background: #1f2937;
  color: white; 
}

body.dark .sidebar-item
{
     background: #1f2937;
  color: white;
}

body.dark #navbar
{
     background: #1f2937;
  color: white;
}

body.dark .profile-card,
body.dark .course-card,
body.dark .assignment-card {
  background: #1f2937;
  color: white;
}
#navbar li {
  padding: 10px;
  cursor: pointer;
}

#navbar li.active {
  background: #2563eb;
  color: white;
}



